/* Styling for Home Page Body */

@font-face {
    font-family: letItSnow;
    src: url('../fonts/Polar\ Snow.otf')
}

@font-face{
    font-family: coolvetica;
    src: url('../fonts/coolvetica\ rg.otf')
}

.popularSocks, .allSocks{
    display: flex;
    align-items: center;
    padding: 6px;
    flex-wrap: wrap;
    /* max-width: 77%; */
}

h1 {
    font-family: letItSnow;
    text-align: center;
    font-size: 5rem;
    -webkit-text-stroke: 1px darkslategrey;
    color: red;
}

h2 {
    font-family: coolvetica;
    font-size: 3rem;
}

.checkoutContainer{
    display: flex;
    /* min-width: fit-content; */
    background-color: whitesmoke;
    padding: 6px;
}

.socksContainer{
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
}

.fullPage{
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
}
