/* CSS for sockListing */

/* Card for Sock Listing */
.sockListing {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 6px;
  border-radius: 5px;
  background-color: red;
  /* height: 400px; */
  width: 300px;
}
.sockImage {
  background-color: white;
  padding: 20px 20px 30px 30px;
  border-radius: 5px;
  height: 300px;
}
.sockName {
  font-size: large;
  /* justify-content: flex-start; */
}
.priceContainer {
  display: flex;
  flex-direction: row;
}
.colorOptions {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: flex-start;
  margin-right: auto;
}
