/* CSS for sockListing */

/* Card for Sock Listing */
.sockListing {
  display: flex;
    flex-direction: column;
    padding: 6px;
    border-radius: 5px;
    background-color: white;
    /* height: 400px; */
    width: 300px;
    margin: 6px;
}

.sockListing:hover {
  box-shadow: 5px 5px 5px lightgrey;
  border: 1px solid;
  border-color: lightgray;
}

.sockImage {
  background-color: whitesmoke;
  padding: 20px 30px 20px 30px;
  border-radius: 5px;
  height: 300px;
}

.sockImageWrapper {
  display: flex;
  flex-direction: column;
}

.addToCart {
  margin-left: 215px;
}

.addToCart:hover {
  color: slategray;
}

.addToCart:active {
  color: green;
}

@font-face{
  font-family: coolvetica;
  src: url('../fonts/coolvetica\ rg.otf')
}

@font-face{
  font-family: coolvetica2;
  src: url('../fonts/coolvetica\ condensed\ rg.otf')
}

.sockName {
  font-size: large;
  font-family: coolvetica;
}

.priceContainer {
  display: flex;
  flex-direction: row;
}

.sockPrice {
  font-family: coolvetica2;
  color: grey;
}

.sockNewPrice{
  font-family: coolvetica2;
}

.sockDiscount {
  font-family: coolvetica2;
  color: green;
}

.colorOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#red {
  color: red;
  rotate: 45deg;
  margin-right: 5px;
}

#green {
  color: green;
  rotate: 45deg;
  margin-right: 5px;
}

#blue {
  color: blue;
  rotate: 45deg;
  margin-right: 5px;
}

#lightBlue {
  color: lightblue;
  rotate: 45deg;
  margin-right: 5px;
}

#brown {
  color: burlywood;
  rotate: 45deg;
  margin-right: 5px;
}
