<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>Homepage - Sock-It-2-Ya</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta name="description" content="A website for all your sock needs." />
  
  <!-- Style Sheets -->
  <link rel="stylesheet" type="text/css" href="style.css" />
  
  <!-- Favicon -->
  <link rel="icon" href="images/favicon.ico">
</head>
<body>
    <div class="baseContainer">
        <!-- Header -->
        <header>
            <div class="containerA">
                <div class="containerB">
                    <img class="logo" src="images/Sock Logo.jpg" alt="Sock-It-2-Ya Logo">
                </div>
                <div class="containerC">
                    <input type="text" placeholder="Let's search for socks...">
                    <!-- <input type="button" placeholder="Go!"> -->
                </div>
                <div class="containerD">
                    <img class="menuIcons" src="images/User.jpg" alt="User Icon">
                    <img class="menuIcons" src="images/Star.png" alt="Fav Icon">
                    <img class="menuIcons" src="images/Cart2.png" alt="Cart Icon">
                </div>
            </div>
        </header>
        <div class="containerE" description="Body flex box">
            <div class="containerF" description="checkout">
                This is where the checkout popover goes.
            </div>
            <div class="sockContainer">
                <div class="containerG">
                    <div class="sockListing">
                        <img class="sockPicture" src="images/SockListing.png">
                        <div class="sockPrice">$15</div>
                    </div>
                    <div class="sockListing">
                        <img class="sockPicture" src="images/SockListing.png">
                        <div class="sockPrice">$15</div>
                    </div>
                    <div class="sockListing">
                        <img class="sockPicture" src="images/SockListing.png">
                        <div class="sockPrice">$15</div>
                    </div>
                    <div class="sockListing">
                        <img class="sockPicture" src="images/SockListing.png">
                        <div class="sockPrice">$15</div>
                    </div>
                    <div class="sockListing">
                        <img class="sockPicture" src="images/SockListing.png">
                        <div class="sockPrice">$15</div>
                    </div>
                    <div class="sockListing">
                        <img class="sockPicture" src="images/SockListing.png">
                        <div class="sockPrice">$15</div>
                    </div>
                </div>
                <div class="containerH">
                    <div class="sockListing">
                        <img class="sockPicture" src="images/SockListing.png">
                        <div class="sockPrice">$15</div>
                    </div>
                    <div class="sockListing">
                        <img class="sockPicture" src="images/SockListing.png">
                        <div class="sockPrice">$15</div>
                    </div>
                    <div class="sockListing">
                        <img class="sockPicture" src="images/SockListing.png">
                        <div class="sockPrice">$15</div>
                    </div>
                    <div class="sockListing">
                        <img class="sockPicture" src="images/SockListing.png">
                        <div class="sockPrice">$15</div>
                    </div>
                    <div class="sockListing">
                        <img class="sockPicture" src="images/SockListing.png">
                        <div class="sockPrice">$15</div>
                    </div>
                    <div class="sockListing">
                        <img class="sockPicture" src="images/SockListing.png">
                        <div class="sockPrice">$15</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<!--
<div class="headerContainer"
    <div id="fadein"></div>
    <h1>This is the title for the website.</h1>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
    window.onload = function(){
        setTimeout(function(){
        document.getElementById("fadein").remove();
        },1000);
    };
    </script>
    <script src="app.js"></script>
-->